/*navigation bar design */
.navBar ul {
    list-style-type: none;
    padding: 0px;
    background-color: rgb(54, 85, 91);
    overflow: hidden; 
    margin: 15px;
}

.navBar a{
    text-decoration: none;
    color: rgb(227, 224, 224);
    padding: 20px;
    display: block;
    text-align: center;
}

.navBar li {
    float: left;
}

.navBar a:hover{
    background-color: rgb(44, 69, 74);
}

li a:focus {
    background-color: rgb(44, 69, 74);
  }

   /*general design */

h1 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-align: center;
}
body {
    font-family: Georgia, serif;
    margin-left: 25px;
    margin-right: 25px;
}

pre {
    font-size: 15px;
  }

button {
    margin: 10px
}

  /*directions design */
  .directions {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
  }

  #directionsText {
    font-size: 12px; 
    margin-left: 5px; 
  }
  
  #directionsImage {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

   /*slider design */
.slidecontainer {
    width: 100%; 
    text-align: center;  
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 75%;
    height: 30px;
    background: #a8b1bb;
    outline: none;
    margin: 0 auto;
  }
  .slider-description {
    text-align: center;
    margin-top: 10px; 
  }
  
  .slider:hover {
    background: rgb(154, 160, 170);
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #eba0a5;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #eba0a5;
    cursor: pointer;
  }

  #sliderRange {
    margin-top: 20px;
    margin-bottom: 20px;
  }